In [28]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

from tqdm import tqdm

Let's see if we can join the daily headlines to price movements in the stock market. Something like how the daily newspapers effect sentiment on the markets as a whole. We could then make a guess at what will happen tomorrow based on today's events and tomorrow's likely headlines.

I'll work with a subset on here so that I can explore the data quickly and make decisions, before removing all the sub-setting and running it for real on a more powerful platform.

In [29]:
news = pd.read_csv("kaggle/input/million-headlines/abcnews-date-text.csv")#, nrows=100000)

news["publish_date"] = pd.to_datetime(news["publish_date"].astype(str),infer_datetime_format=True)

news.head()

  publish_date                                      headline_text
0   2003-02-19  aba decides against community broadcasting lic...
1   2003-02-19     act fire witnesses must be aware of defamation
2   2003-02-19     a g calls for infrastructure protection summit
3   2003-02-19           air nz staff in aust strike for pay rise
4   2003-02-19      air nz strike to affect australian travellers

In [30]:
import string
from nltk.corpus import stopwords

STOPWORDS = stopwords.words('english') + ['u', 'Ã¼', 'ur', '4', '2', 'im', 'dont', 'doin', 'ure']

    
def text_process(mess):
    """
    Takes in a string of text, then performs the following:
    1. Remove all punctuation
    2. Remove all stopwords
    3. Returns a list of the cleaned text
    """
    
    # Check characters to see if they are in punctuation
    nopunc = [char for char in mess if char not in string.punctuation]
    
    # Join the characters again to form the string.
    nopunc = ''.join(nopunc)
    # Now just remove any stopwords
    return ' '.join([word for word in nopunc.split() if word.lower() not in STOPWORDS])

Remove the stopwords and punctuation from the headlines

In [31]:
news["headline_text"] = news.headline_text.apply(text_process)

news.head()

  publish_date                               headline_text
0   2003-02-19  aba decides community broadcasting licence
1   2003-02-19    act fire witnesses must aware defamation
2   2003-02-19    g calls infrastructure protection summit
3   2003-02-19           air nz staff aust strike pay rise
4   2003-02-19  air nz strike affect australian travellers

Group the headlines by date so we can see a single date on each row. We can then get a picture of what kind of a day that was good, bad, terrible...

In [32]:
news = news.groupby("publish_date")["headline_text"].agg(' '.join).to_frame()

In [33]:
news.index.names = ["date"]
news.head()

                                                headline_text
date
2003-02-19  aba decides community broadcasting licence act...
2003-02-20  15 dead rebel bombing raid philippines army ab...
2003-02-21  accc timid petrol price investigations action ...
2003-02-22  86 confirmed dead us nightclub fire act touris...
2003-02-23  accused people smuggler face darwin court act ...

In [34]:
news.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6882 entries, 2003-02-19 to 2021-12-31
Data columns (total 1 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   headline_text  6882 non-null   object
dtypes: object(1)
memory usage: 107.5+ KB

Let's bring in the nasdaq data... should be interesting.

I think we can ignore most of the data though, as we're looking at a broad brush picture we only need the open price and the close price. We can then calculate a daily change.

Let's look at one stock symbol and then write a function around that import.

In [35]:
stock_data = pd.read_csv("kaggle/input/nasdaq-daily-stock-prices/LICN.csv",index_col='date')
stock_data.head()

           ticker  open    high     low   close
date
2023-02-06   LICN  3.90  4.2500  3.0800  3.5000
2023-02-07   LICN  3.22  3.5500  2.8200  3.4500
2023-02-08   LICN  3.50  3.6499  3.2701  3.4201
2023-02-09   LICN  3.55  3.5800  3.0200  3.5300
2023-02-10   LICN  3.39  4.1000  3.3800  4.1000

Calculate the daily change, and name it after the stock ticker. This should allow us to easily make a multi-column dataframe

In [36]:
ticker = stock_data["ticker"][0]

stock_data[ticker] = (stock_data["close"] - stock_data["open"])/stock_data["open"]


trimmed_stock = stock_data[[c for c in stock_data.columns if c in {"date",ticker}]]

trimmed_stock.head()

                LICN
date
2023-02-06 -0.102564
2023-02-07  0.071429
2023-02-08 -0.022829
2023-02-09 -0.005634
2023-02-10  0.209440

Let's bring in another set of values with a similar set of commands and try to merge the two DataFrames.

In [37]:
stock_data_b = pd.read_csv("kaggle/input/nasdaq-daily-stock-prices/ACRV.csv",index_col='date')
stock_data_b.head()

           ticker   open     high      low  close
date
2022-11-15   ACRV  13.35  17.0900  12.7083  16.64
2022-11-16   ACRV  15.90  20.7031  15.0600  16.75
2022-11-17   ACRV  16.53  19.5000  14.8800  15.72
2022-11-18   ACRV  15.72  18.9500  15.5900  15.78
2022-11-21   ACRV  15.77  16.8489  12.5000  12.51

In [38]:
ticker = stock_data_b["ticker"][0]
stock_data_b[ticker] = (stock_data_b["close"] - stock_data_b["open"])/stock_data_b["open"]


trimmed_stock_b = stock_data_b[[c for c in stock_data_b.columns if c in {"date",ticker}]]

trimmed_stock_b.head()

                ACRV
date
2022-11-15  0.246442
2022-11-16  0.053459
2022-11-17 -0.049002
2022-11-18  0.003817
2022-11-21 -0.206722

Let's merge these somehow!

In [39]:
trimmed_stock.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37 entries, 2023-02-06 to 2023-03-29
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LICN    37 non-null     float64
dtypes: float64(1)
memory usage: 592.0+ bytes

In [40]:
trimmed_stock_b.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92 entries, 2022-11-15 to 2023-03-29
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ACRV    92 non-null     float64
dtypes: float64(1)
memory usage: 1.4+ KB

Should be an outer join, as we want data from as many days as possible - even if some stocks didn't exist on those days.
That means that since there's 92 & 37 elements in our test data there should be 92 in our merged data.

In [41]:
merged_stock = trimmed_stock.merge(trimmed_stock_b,how="outer", on="date")

merged_stock.head()

                LICN      ACRV
date
2023-02-06 -0.102564  0.039000
2023-02-07  0.071429  0.059359
2023-02-08 -0.022829  0.008949
2023-02-09 -0.005634 -0.009362
2023-02-10  0.209440 -0.001818

In [42]:
merged_stock.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92 entries, 2023-02-06 to 2023-02-03
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LICN    37 non-null     float64
 1   ACRV    92 non-null     float64
dtypes: float64(2)
memory usage: 2.2+ KB

In [43]:
merged_stock.tail()

            LICN      ACRV
date
2023-01-30   NaN  0.002083
2023-01-31   NaN  0.084337
2023-02-01   NaN -0.132275
2023-02-02   NaN  0.097411
2023-02-03   NaN  0.070225

OK, that seems to have worked. So now we put that into a function and a loop!

Add a limiter to make sure we're not here all day, remove limiter in real code.

In [44]:
def import_data(fileName : str, targetFrame : pd.DataFrame):
    stock_data = pd.read_csv(fileName,index_col='date')
    ticker = stock_data["ticker"][0]
    stock_data[ticker] = (stock_data["close"] - stock_data["open"])/stock_data["open"]
    
    trimmed_stock = stock_data[[c for c in stock_data.columns if c in {"date",ticker}]]
    if targetFrame.size > 0:
        return targetFrame.merge(trimmed_stock,how="outer", on="date")
    else:
        return trimmed_stock

In [45]:
counter = 0
bigStockMerge = pd.DataFrame()
for dirname, _, filenames in os.walk('kaggle/input/nasdaq-daily-stock-prices/'):
    for filename in filenames:
        counter += 1
        thisFile = os.path.join(dirname, filename)
        bigStockMerge = import_data(thisFile, bigStockMerge)
        if counter >5:
            break
            
            
bigStockMerge.head()

                AACG  AACI  AADI  AAL      AAME  AAOI
date
2008-01-28  0.000000   NaN   NaN  NaN  0.040045   NaN
2008-01-29 -0.078997   NaN   NaN  NaN  0.051133   NaN
2008-01-30 -0.028542   NaN   NaN  NaN -0.035543   NaN
2008-01-31  0.124792   NaN   NaN  NaN -0.030396   NaN
2008-02-01 -0.042390   NaN   NaN  NaN  0.024569   NaN

Now we need some averages

In [46]:
bigStockMerge["Mean"] = bigStockMerge.mean(axis=1)
bigStockMerge.head(10)

                AACG  AACI  AADI  AAL      AAME  AAOI      Mean
date
2008-01-28  0.000000   NaN   NaN  NaN  0.040045   NaN  0.020023
2008-01-29 -0.078997   NaN   NaN  NaN  0.051133   NaN -0.013932
2008-01-30 -0.028542   NaN   NaN  NaN -0.035543   NaN -0.032043
2008-01-31  0.124792   NaN   NaN  NaN -0.030396   NaN  0.047198
2008-02-01 -0.042390   NaN   NaN  NaN  0.024569   NaN -0.008911
2008-02-04  0.000000   NaN   NaN  NaN -0.018361   NaN -0.009181
2008-02-05 -0.041057   NaN   NaN  NaN  0.006096   NaN -0.017481
2008-02-06  0.000000   NaN   NaN  NaN -0.029259   NaN -0.014629
2008-02-07  0.044486   NaN   NaN  NaN -0.005839   NaN  0.019323
2008-02-08 -0.011999   NaN   NaN  NaN  0.038367   NaN  0.013184

Ok, so we have headlines, and movements. Now we want to join the two so we can try to model what influence the headlines have on the movements.

This time though, it's an inner join, as there's no point knowing what the move was on a day when we don't know what the headlines were or vice-versa.

In [47]:
bigStockMerge.index = pd.to_datetime(bigStockMerge.index)

bigStockMerge.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4478 entries, 2008-01-28 to 2013-09-20
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AACG    3713 non-null   float64
 1   AACI    226 non-null    float64
 2   AADI    1197 non-null   float64
 3   AAL     2341 non-null   float64
 4   AAME    4188 non-null   float64
 5   AAOI    2393 non-null   float64
 6   Mean    4478 non-null   float64
dtypes: float64(7)
memory usage: 279.9 KB

In [48]:
final_data = news.merge(bigStockMerge,how="inner",on="date")
final_data.head()

,headline_text,AACG,AACI,AADI,AAL,AAME,AAOI,Mean
date,,,,,,,,
2005-02-25,9 afghan troops killed gunmen abb benefits hig...,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000
2005-02-28,abbott urges private sector simplify charges a...,NaN,NaN,NaN,NaN,-0.006538,NaN,-0.006538
2005-03-01,13 charged drug raids abare predicts bumper co...,NaN,NaN,NaN,NaN,0.013233,NaN,0.013233
2005-03-02,51 die cholera outbreak nigeria aboriginal rem...,NaN,NaN,NaN,NaN,-0.013174,NaN,-0.013174
2005-03-03,abbott lauds riverina cancer centre accuseds n...,NaN,NaN,NaN,NaN,-0.013174,NaN,-0.013174

If we look at a small subset of the news there may be no crossover. So we go back and remove the import limitations.

In [49]:
final_data = news.merge(bigStockMerge,how="inner",on="date")
final_data = final_data[[c for c in final_data.columns if c in {"date","headline_text","Mean"}]]
final_data.head()

                                                headline_text      Mean
date
2005-02-25  9 afghan troops killed gunmen abb benefits hig...  0.000000
2005-02-28  abbott urges private sector simplify charges a... -0.006538
2005-03-01  13 charged drug raids abare predicts bumper co...  0.013233
2005-03-02  51 die cholera outbreak nigeria aboriginal rem... -0.013174
2005-03-03  abbott lauds riverina cancer centre accuseds n... -0.013174

Vectorize the news headlines:

In [50]:
from sklearn.feature_extraction.text import CountVectorizer

# instantiate the vectorizer
vect = CountVectorizer()
vect.fit(final_data["headline_text"])


# fit and transform
news_vector = vect.fit_transform(final_data["headline_text"])

from sklearn.feature_extraction.text import TfidfTransformer

tfidf_transformer = TfidfTransformer()
tfidf_transformer.fit(news_vector)
tfidf_transformer.transform(news_vector)

<4162x94942 sparse matrix of type '<class 'numpy.float64'>'
	with 3603448 stored elements in Compressed Sparse Row format>

In [51]:
from sklearn.model_selection import train_test_split

#define the labels/targets/whatever
movements = final_data.Mean


#split out test and train subsets:
X_train, X_test, Y_train, Y_test = train_test_split(news_vector, movements, random_state=1)

The movement is a continuous amount, assumed to be some funtion <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mi>f</mi>
  <mo stretchy="false">(</mo>
  <mo>&#x22C5;</mo>
  <mo stretchy="false">)</mo>
  <mo>:</mo>
  <msup>
    <mi>R</mi>
    <mi>m</mi>
  </msup>
  <mo stretchy="false">&#x2192;</mo>
  <msup>
    <mi>R</mi>
    <mi>o</mi>
  </msup>
</math> of the input text. We'll therefor try using an MLP as here:


https://scikit-learn.org/stable/modules/neural_networks_supervised.html#neural-networks-supervised

In [52]:
print(X_train.shape)
print(Y_train.shape)

(3121, 94942)
(3121,)

In [53]:
from sklearn.neural_network import MLPRegressor

#use small hidden layer for testing
clf = MLPRegressor(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(100,2), random_state=1,verbose=True, max_iter=10)

clf = clf.fit(X_train,Y_train)

c:\Users\martin\miniconda3\envs\nlp-headlines\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:541: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

So, we have a model. It's not going to great, but this is a notebook... What predictions will it make?

In [54]:
from sklearn.metrics import r2_score

Y_Predict = clf.predict(X_test)

score = r2_score(Y_test,Y_Predict)

print("The accuracy of our model is {}%".format(round(score, 2) *100))

The accuracy of our model is -446.0%

Atrocious.

In [55]:
from sklearn.metrics import mean_absolute_error
score = mean_absolute_error(Y_test,Y_Predict)
print("The Mean Absolute Error of our Model is {}".format(round(score, 2)))

The Mean Absolute Error of our Model is 0.06

So the mean error is small, but the accuracy is pretty low it seems. If we move this all to code, then it might improve over time.